<?xml version="1.0"?>

<launch>


  <include file="$(find drone_description)/launch/world.launch"/>



  <include file="$(find drone_description)/launch/spawn.launch" >
    <arg name="model" value="$(find drone_description)/urdf/drone.urdf.xacro"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

</launch>



